<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Captcha form Project</title>
    
</head>

<body>
    <header>
        <h3 >Contact Page</h3>
    </header>
    <main>
       <form action="/submit" method="post">
        {% csrf_token %}
        <div>
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname">
        </div>
        <br>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div> <br>
        {{form.captcha}}
        <button type="submit">Submit</button>
       </form>
    </main>
    
</body>

</html>